* {
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  width: 95%;
  height: 70px;
  /* border: 0.5px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0 5px 0;
}

h1 a {
  font-family: cursive;
  font-size: 40px;
  font-weight: 500;
  color: blueviolet;
  text-decoration: none;
  text-shadow: 2px 2px 2px rgb(216, 93, 117);
}

#searchBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  background: linear-gradient(blueviolet, rgb(162, 43, 150));
  border-radius: 10px;
}

#form {
  padding: 15px;
}

.text {
  height: 25px;
  outline: none;
  color: blueviolet;
  padding: 2px;
  margin-right: 5px;
  border-color: cyan;
  border-radius: 5px;
  background: white url(/Mathematics\ Tutorial\ Website/images/search.png) right center no-repeat;
}

.submit {
  font-size: 15px;
  margin-left: 10px;
  padding: 4px;
  outline: none;
  color: cyan;
  background: rgb(6, 46, 2);
  border-radius: 5px;
}

#menu {
  width: 95%;
  height: 70px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(162, 43, 150), rgb(112, 213, 11));
}

#menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

#menu ul li {
  border-right: 1px solid rgb(248, 241, 241);
  padding: 0 20px;
}

#menu ul li:last-child {
  border-right: none;
}

#menu ul li a {
  text-decoration: none;
  color: rgb(248, 241, 241);
  font-size: 17px;
  font-family: sans-serif;
  -webkit-transition: font-size 0.3s ease;
  -moz-transition: font-size 0.3s ease;
  -o-transition: font-size 0.3s ease;

}

#menu ul li a:hover,
#menu ul li a.active {
  font-size: 20px;
  font-weight: bold;
  color: rgb(37, 29, 29);
}

#introduction {
  width: 95%;
  height: 155px;
  border-radius: 10px;
  padding: 10px 0;
  margin: 5px 0;
  background: linear-gradient(rgb(112, 213, 11), rgb(60, 113, 6));
}

#introduction h3 {
  padding: 10px 15px;
  font-size: 30px;
  font-family: sans-serif;
  color: aliceblue;
  font-weight: normal;
}

#introduction p {
  padding: 20px 15px 0 15px;
  font-size: 19px;
  font-family: sans-serif;
  color: aliceblue;
  font-weight: normal;
  text-align: justify;
}